.title {
  font-size: 40px;
}

.list {
  list-style: none;
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover,
.link:focus {
  background-color: coral;
}

.link:active {
  background-color: olive;
}

/* .link:visited {
  background-color: rebeccapurple;
} */

.item + .item {
  margin-top: 10px;
}
